body{
    background-color: black;
    color: aliceblue;
}
label{
    font-size: 25px;
}

#time{
    font-size: 40px;
    float: left;
    padding: 30px;
}
#score{
    font-size: 40px;
    float: right;
    padding-right: 100px;
}